.download_link {display: inline-block;margin-top: 10px;position: relative;overflow: hidden;border-radius: 4px;background-color: #4CAF50;color: white;text-align: center;padding: 14px 16px;text-decoration: none;font-size: 16px;cursor: pointer;transition: background-color 0.3s ease;}.download_link:hover {background-color: #45a049;}.download_link span {position: absolute;width: 100%;height: 100%;top: 0;left: 0;background-color: #45a049;transition: width 0.2s ease;transform: translateX(-100%);}.download_link.started span {width: 200%;transform: translateX(-50%);background-color: #4CAF50;}.download_link.retry {background-color: #f44336;}.download_link.retry span {width: 100%;transform: translateX(0);background-color: #f44336;}
/*

TUTOR DEK?
MAU RECODE SCRIPT INI?
KASIH CREDIT: @SannDcode
JAN KAYAK BANGSAAT!!

*/
